
<div class="cart_title">Twój koszyk</div>
<table>

  <%= render(cart.line_items) %>

  <tr class="total_line">
    <td colspan="2">Suma: </td>

    <td class="total_cell"><%= sprintf("%0.02f zł",cart.total_price) %></td>

  </tr>

</table>
<table>
	<tr>
		<td>
				<%= button_to 'Podsumowanie', new_order_path, :method => :get, :class => 'button tiny radius' %>
		</td>
		<td>
			<%= button_to 'Wyczyść', @cart, :method => :delete, :confirm => 'Na pewno usunąć wszyskie elementy z koszyka?',:class => 'button tiny radius' %>
		</td>
	</tr>
</table>